<%- include('../templates/head') %>
<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">插件</h3>
            </div>
            <div class="panel-body">
                <a href="plugin.html">My97DatePicker / icheck</a>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">VUE</h3>
            </div>
            <div class="panel-body">
                <a href="vue.html">vue</a>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">JQuery</h3>
            </div>
            <div class="panel-body">
                <a href="vue.html">jquery</a>
            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">BOOTSTARAP</h3>
            </div>
            <div class="panel-body">
                <a href="previewTheme.html">bootstrap</a>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">JAVASCRIPT</h3>
            </div>
            <div class="panel-body">
                <a href="javascript.html">javascript</a>
            </div>
        </div>
    </div>
    <%- include('../templates/foot') %>
